{
  "root": true, // check all files in the root directory
  "extends": "standard",
  "plugins": [ "node", "html", "promise" ],
  "env": {
    "browser": true
  },
  "rules": {
    "semi": ["error", "always"] // ignore the semicolon(语法) syntax check
  }
}